body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}

.font-300{
  font-weight: 300;
}

.font-400{
  font-weight: 400;
}

.font-500{
  font-weight: 500;
}

.font-600{
  font-weight: 600;
}

.font-700{
  font-weight: 700;
}

.font-13{
  font-size: 13px;
}

.font-14{
  font-size: 14px;
}

.font-15{
  font-size: 15px;
}

.font-16{
  font-size: 16px;
}

.font-18{
  font-size: 18px;
}

.font-20{
  font-size: 20px;
}

.font-24{
  font-size: 24px;
}

.font-32{
  font-size: 32px;
}

.font-48{
  font-size: 48px;
}

.font-40{
  font-size: 40px;
}

.bg-orange{
  background-color: #FF5C00;
}

.bg-gray{
  background-color: #E5E5E5;
}

.bg-pink{
  background-color: #FFF8F5;
}

.bg-black{
  background-color: #222222 !important;
}

.bg-lblack{
  background-color: #2E2E2E;
}

.bg-lgreen{
  background-color: #F0FFEE;
}

.bg-llgreen{
  background-color: #EEF8FF;
}

.bg-llblack{
  background-color: #25201D;
}

.bg-lll{
  background: rgba(255, 255, 255, 0.2) !important;
}

.bg-piink{
  background: rgba(255, 92, 0, 0.03);
}

.text-black{
  color: #242120;
}

.text-ash{
  color: #494949;
}

.text-ashh{
  color: #474747;
}

.text-ashhh{
  color: #535353;
}

.text-ashhhh{
  color: #676767;
}


.text-blue{
  color: #0D019A;
}

.text-green{
  color: #049A01;
}

.text-orange{
  color: #FF5C00;
}

